<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mypackage.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_admin_status</servlet-name>
        <servlet-class>update_user_status.update_admin_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_staff_status</servlet-name>
        <servlet-class>update_user_status.update_staff_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorRegisterServlet</servlet-name>
        <servlet-class>mypackage.SupervisorRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSupervisorEdit</servlet-name>
        <servlet-class>mypackage.AdminSupervisorEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorEditServlet</servlet-name>
        <servlet-class>mypackage.SupervisorEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorDeleteServlet</servlet-name>
        <servlet-class>mypackage.SupervisorDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStaffEdit</servlet-name>
        <servlet-class>mypackage.AdminStaffEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEditServlet</servlet-name>
        <servlet-class>mypackage.StaffEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <servlet-class>mypackage.StaffDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>mypackage.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepRegisterServlet</servlet-name>
        <servlet-class>mypackage.DepRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDepServlet</servlet-name>
        <servlet-class>mypackage.AdminDepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDepEdit</servlet-name>
        <servlet-class>mypackage.AdminDepEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepEditServlet</servlet-name>
        <servlet-class>mypackage.DepEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepDeleteServlet</servlet-name>
        <servlet-class>mypackage.DepDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosRegisterServlet</servlet-name>
        <servlet-class>mypackage.PosRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPosEdit</servlet-name>
        <servlet-class>mypackage.AdminPosEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosEditServlet</servlet-name>
        <servlet-class>mypackage.PosEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosDeleteServlet</servlet-name>
        <servlet-class>mypackage.PosDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAdEdit</servlet-name>
        <servlet-class>mypackage.AdminAdEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmEditServlet</servlet-name>
        <servlet-class>mypackage.AdmEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmDeleteServlet</servlet-name>
        <servlet-class>mypackage.AdmDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>mypackage.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleRegisterServlet</servlet-name>
        <servlet-class>mypackage.RoleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleDeleteServlet</servlet-name>
        <servlet-class>mypackage.RoleDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoleEdit</servlet-name>
        <servlet-class>mypackage.AdminRoleEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleEditServlet</servlet-name>
        <servlet-class>mypackage.RoleEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>mypackage.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCateEdit</servlet-name>
        <servlet-class>mypackage.AdminCateEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateEditServlet</servlet-name>
        <servlet-class>mypackage.CateEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateRegisterServlet</servlet-name>
        <servlet-class>mypackage.CateRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateDeleteServlet</servlet-name>
        <servlet-class>mypackage.CateDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneRegisterServlet</servlet-name>
        <servlet-class>superpack.MilestoneRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorMilestoneEdit</servlet-name>
        <servlet-class>superpack.SupervisorMilestoneEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MileEditServlet</servlet-name>
        <servlet-class>superpack.MileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneDeleteServlet</servlet-name>
        <servlet-class>superpack.MilestoneDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignMile</servlet-name>
        <servlet-class>superpack.AssignMile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignMileEdit</servlet-name>
        <servlet-class>superpack.AssignMileEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnassignMile</servlet-name>
        <servlet-class>superpack.UnassignMile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectMile</servlet-name>
        <servlet-class>superpack.RejectMile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkMile</servlet-name>
        <servlet-class>superpack.MarkMile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankMileEdit</servlet-name>
        <servlet-class>superpack.RankMileEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuperEdit</servlet-name>
        <servlet-class>superpack.SuperEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorEdit</servlet-name>
        <servlet-class>superpack.SupervisorEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkMileMid</servlet-name>
        <servlet-class>superpack.MarkMileMid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankMileEditMid</servlet-name>
        <servlet-class>superpack.RankMileEditMid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMileView</servlet-name>
        <servlet-class>staffpack.StaffMileView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FulfillMile</servlet-name>
        <servlet-class>staffpack.FulfillMile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FulfillMileMid</servlet-name>
        <servlet-class>staffpack.FulfillMileMid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FulfillMileMidEdit</servlet-name>
        <servlet-class>staffpack.FulfillMileMidEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FulfillMileEnd</servlet-name>
        <servlet-class>staffpack.FulfillMileEnd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FulfillMileEndEdit</servlet-name>
        <servlet-class>staffpack.FulfillMileEndEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEdit</servlet-name>
        <servlet-class>staffpack.StaffEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDataEdit</servlet-name>
        <servlet-class>staffpack.StaffDataEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackRegisterServlet</servlet-name>
        <servlet-class>staffpack.FeedbackRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeed</servlet-name>
        <servlet-class>hrpack.DeleteFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hrlogout</servlet-name>
        <servlet-class>hrpack.hrlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stafflogout</servlet-name>
        <servlet-class>staffpack.stafflogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>superlogout</servlet-name>
        <servlet-class>superpack.superlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HREdit</servlet-name>
        <servlet-class>hrpack.HREdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HREditServlet</servlet-name>
        <servlet-class>hrpack.HREditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HrRegisterServlet</servlet-name>
        <servlet-class>mypackage.HrRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HREditAdmin</servlet-name>
        <servlet-class>mypackage.HREditAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HREditAdminServlet</servlet-name>
        <servlet-class>mypackage.HREditAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHr</servlet-name>
        <servlet-class>mypackage.DeleteHr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>emailActivity.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_admin_status</servlet-name>
        <url-pattern>/update_admin_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_staff_status</servlet-name>
        <url-pattern>/update_staff_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorRegisterServlet</servlet-name>
        <url-pattern>/SupervisorRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSupervisorEdit</servlet-name>
        <url-pattern>/AdminSupervisorEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorEditServlet</servlet-name>
        <url-pattern>/SupervisorEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorDeleteServlet</servlet-name>
        <url-pattern>/SupervisorDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStaffEdit</servlet-name>
        <url-pattern>/AdminStaffEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEditServlet</servlet-name>
        <url-pattern>/StaffEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <url-pattern>/StaffDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepRegisterServlet</servlet-name>
        <url-pattern>/DepRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDepServlet</servlet-name>
        <url-pattern>/AdminDepServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDepEdit</servlet-name>
        <url-pattern>/AdminDepEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepEditServlet</servlet-name>
        <url-pattern>/DepEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepDeleteServlet</servlet-name>
        <url-pattern>/DepDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosRegisterServlet</servlet-name>
        <url-pattern>/PosRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPosEdit</servlet-name>
        <url-pattern>/AdminPosEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosEditServlet</servlet-name>
        <url-pattern>/PosEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosDeleteServlet</servlet-name>
        <url-pattern>/PosDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAdEdit</servlet-name>
        <url-pattern>/AdminAdEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmEditServlet</servlet-name>
        <url-pattern>/AdmEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmDeleteServlet</servlet-name>
        <url-pattern>/AdmDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleRegisterServlet</servlet-name>
        <url-pattern>/RoleRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleDeleteServlet</servlet-name>
        <url-pattern>/RoleDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoleEdit</servlet-name>
        <url-pattern>/AdminRoleEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleEditServlet</servlet-name>
        <url-pattern>/RoleEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCateEdit</servlet-name>
        <url-pattern>/AdminCateEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateEditServlet</servlet-name>
        <url-pattern>/CateEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateRegisterServlet</servlet-name>
        <url-pattern>/CateRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateDeleteServlet</servlet-name>
        <url-pattern>/CateDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneRegisterServlet</servlet-name>
        <url-pattern>/MilestoneRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorMilestoneEdit</servlet-name>
        <url-pattern>/SupervisorMilestoneEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MileEditServlet</servlet-name>
        <url-pattern>/MileEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneDeleteServlet</servlet-name>
        <url-pattern>/MilestoneDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignMile</servlet-name>
        <url-pattern>/AssignMile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignMileEdit</servlet-name>
        <url-pattern>/AssignMileEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnassignMile</servlet-name>
        <url-pattern>/UnassignMile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectMile</servlet-name>
        <url-pattern>/RejectMile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkMile</servlet-name>
        <url-pattern>/MarkMile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankMileEdit</servlet-name>
        <url-pattern>/RankMileEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperEdit</servlet-name>
        <url-pattern>/SuperEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorEdit</servlet-name>
        <url-pattern>/SupervisorEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkMileMid</servlet-name>
        <url-pattern>/MarkMileMid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankMileEditMid</servlet-name>
        <url-pattern>/RankMileEditMid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMileView</servlet-name>
        <url-pattern>/StaffMileView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FulfillMile</servlet-name>
        <url-pattern>/FulfillMile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FulfillMileMid</servlet-name>
        <url-pattern>/FulfillMileMid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FulfillMileMidEdit</servlet-name>
        <url-pattern>/FulfillMileMidEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FulfillMileEnd</servlet-name>
        <url-pattern>/FulfillMileEnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FulfillMileEndEdit</servlet-name>
        <url-pattern>/FulfillMileEndEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEdit</servlet-name>
        <url-pattern>/StaffEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDataEdit</servlet-name>
        <url-pattern>/StaffDataEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackRegisterServlet</servlet-name>
        <url-pattern>/FeedbackRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeed</servlet-name>
        <url-pattern>/DeleteFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hrlogout</servlet-name>
        <url-pattern>/hrlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stafflogout</servlet-name>
        <url-pattern>/stafflogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>superlogout</servlet-name>
        <url-pattern>/superlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HREdit</servlet-name>
        <url-pattern>/HREdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HREditServlet</servlet-name>
        <url-pattern>/HREditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HrRegisterServlet</servlet-name>
        <url-pattern>/HrRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HREditAdmin</servlet-name>
        <url-pattern>/HREditAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HREditAdminServlet</servlet-name>
        <url-pattern>/HREditAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHr</servlet-name>
        <url-pattern>/DeleteHr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>gnishimwe2022@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>akwkpllhveeeqoda</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
